{% load static %}

<!DOCTYPE html>
<header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3">
              <div class="site-logo">
                <a href="index.html"><strong >CarRental</strong></a>
              </div>
            </div>

            <div class="col-9  text-right">

              <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="index.html" class="nav-link">Home</a></li>
                  <li><a href="listing.html" class="nav-link">Listing</a></li>
                  <li><a href="references.html" class="nav-link">References</a></li>
                  <li><a href="blog.html" class="nav-link">Blog</a></li>
                  <li><a href="about.html" class="nav-link">About</a></li>
                  <li><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
              </nav>
            </div>


          </div>
        </div>
    <style>
        header.site-navbar.site-navbar-target {
            height: 60px;
            background: #007bffe0;
            box-shadow: 0px 0px 8px 1px #000000;
            position: fixed;
}     .site-logo a strong,.site-menu.main-menu.js-clone-nav.ml-auto li a{
    color: #fff!important;
}
    </style>
      </header>