{% extends 'homebase.html' %}

{% load static %}

{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}


{% block slider %}
    <div class="hero inner-page" style="background-image: url('../static/images/01.jpg');">
        <div class="container">
            <div class="row align-items-end ">
                <div class="col-lg-5">

                    <div class="intro">
                        <h1><strong style="color:whitesmoke"> Cars List</strong></h1>
                        <div class="custom-breadcrumbs"><a href="index.html" style="color:whitesmoke">Home</a> <span
                                class="mx-2" style="color:whitesmoke">/</span> <strong
                                style="color:whitesmoke">Cars List</strong></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Filtering Menu -->
    <div class="navbar navbar-light bg-light ">
        <br><br><br>
        <div class="container">
            <br><br>
            <div class="col-lg-8">
                {% for Category in categories %}
                    {% if Category.parent_id == None %}
                        <button onclick="window.location.href='ListCar?cat='+{{ Category.id }}" class="btn btn-outline-primary">{{ Category.title }}</button>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Filtering Menu -->

    {% include 'listing.html' %}
{% endblock %}