{% load static %}

<div class="hero" style="background-image: url('../static/images/hero_1_a.jpg');">

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">

                <div class="row mb-5">
                    <div class="col-lg-7 intro">
                        <h1><strong>Rent a car</strong> is within your finger tips.</h1>
                    </div>
                </div>
                <!--
{% for rs in sliderdata %}

<div class="hero" >
    <img src="{{ rs.image.url }}" alt="" >

        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">

              <div class="row mb-5">
                <div class="col-lg-7 intro">
                  <h1><strong>Rent a car</strong> is within your finger tips.</h1>
                </div>
              </div>
            </div>>
-->
                {% endfor %}

                <form class="trip-form">

                    <div class="row align-items-center">
                        {% csrf_token %}
                        <div class="mb-3 mb-md-0 col-md-8">
                            <select name="car" id="selectCarInput" class="custom-select form-control">
                                <option value="">Select Car</option>
                                {% for car in cars %}
                                    <option value="{{ car.id }}">{{ car.title }}</option>
                                {% endfor %}
                            </select>
                            <div  style="display: none" id="errorMsg">
                                <br>

                                <div class="alert alert-danger" role="alert">
                                    Please Select Car First.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-4">
                            <strong>{{ car.id }}</strong>
                            <a onclick="RentCarRedirect()" href="#" class="btn btn-primary btn-block py-3"
                               style="color: white">Rent Now</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<script>
    function RentCarRedirect() {
        if (document.getElementById("selectCarInput").value)
            window.location.href = 'car_details?car_id=' + document.getElementById("selectCarInput").value;
        else
            document.getElementById("errorMsg").style.display = "block"
    }

</script>